# ファイル名：.gitignore
# 目的：GIT対象外設定ファイル
# -------------------------------------

# Python
__pycache__/
*.pyc

# venv
venv/
env/
*_env/
web_v2_env/
dev_v2_env/

# DB
*.db
*.sqlite
*.sqlite3

# logs
log/
logs/
*.log

# cache
.cache/
.pytest_cache/

# VSCode
.vscode/

# OS
Thumbs.db
.DS_Store

*-wal
*-shm

# BAT
*.bat

# uploads
uploads/

# CSV
*.csv

# Driver
chromedriver*.exe

# Local test files
local_tools/